* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: $background_body
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;

  &:before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    box-shadow: 20px 20px 45px darken($background_color_2, 35);
    border-radius: 20% 0 20% 0;
    background: $background_div;
    z-index: -1;
  }
}