<section class="main-content">
  <input type="text" id="calculator-display" class="calculator" readonly>
  <table id="calculator-pad" class="calculator">
    <tbody>
      <%= for number_label <- 0..9 do %>
        <button onClick='console.log(<%= number_label %>)'><%= number_label %></button>
      <% end %>
    </tbody>
  </table>
</section>
